<div class="title-icon"><i class="fa-solid fa-gear"></i></div>

<div class="_container">
  <div class="_impostazioni _grid">
    <div class="settings-theme _col-6 _card" id="toggle-theme">
      <!-- wrapper -->
      <div class="theme-row">
        <!-- label -->
        <div class="descrizione_theme-row">
          <span id="scritta-tema-impostazioni">Tema scuro</span>
        </div>
        <!-- input -->
        <div class="impostazione_theme-row">
          <!-- Primo wrapper contenitore dell'input e fratello cambia classe -->
          <div class="wrapper-slider">
            <input type="checkbox" id="toggle-darkmode" />
            <!-- Fratello cambia classe - vero slider con bordo e sfondo -->
            <div class="inner-wrapper-slider">
              <div class="pallina_slash" id="pallina_slash"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
