<div class="title-icon"><i class="fa-solid fa-house"></i></div>

<div class="_container" id="account-settings">
  <!-- CARD LEFT -->
  <div class="top-bar _card _col-6">
    <div class="profile-photo">
      <div class="welcome">
        <input
          id="nomeContatto_benvenuto"
          class="nomecontatto"
          type="text"
          placeholder="Nome Contatto"
          value=""
        />
      </div>
      <!-- wrapper all -->
      <div class="_wrapper-img-btns">
        <!-- IMG -->
        <div class="_wrapper-img">
          <img id="avatarPreview" src="./img/favicoin.png" alt="Avatar" />
        </div>
        <!-- BTNS -->

        <button class="btn_account" id="btnTakePhoto">
          <i class="fa-solid fa-camera"></i>
        </button>
        <button class="btn_account" id="btnPickPhoto">
          Scegli dalla galleria
        </button>
        <button class="btn_account" id="btnRemovePhoto">
          <i class="fa-solid fa-minus"></i>
        </button>
      </div>
      <!-- fine wrapper -->
    </div>
  </div>

  <!-- MAIN -->
  <div class="_card _col-6">
    <div class="main"></div>
    <div class="footer"></div>
  </div>
</div>

<style></style>
