nav {
  width: 100%;
  height: 80px;
  background: var(--bg-nav);
  color: var(--text-main);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0em;
  box-shadow: 0px 0px 12px var(--color-shadow);
}

nav > .wwrapper-btn {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav > .wwrapper-btn > button {
  height: 100%;
  padding: 0em 0.5em;
  background: none;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--text-main-nav);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .wwrapper-btn > button:hover {
  background-color: var(--bg-hover-header);
}

nav > .wwrapper-btn > button.active {
  color: var(--text-main-activate);
}

nav > .wwrapper-btn > button i {
  margin-right: 6px;
  font-size: 14px;
}

#logo {
  width: 60px;
  height: 60px;
  border: 1px solid var(--text-main);
  border-radius: 50%;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em 0.5em;
  color: var(--text-main);
}

#logo #scritta {
  font-size: 10px;
  color: var(--text-main);
  font-weight: 900;
}

#btnMenu {
  display: none;
  width: 50px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
